/*GENERAL STYLE*/
h1 {
  font-family: 'Amatic SC', cursive;
  color: #FD5E0F;
  margin-bottom: 15px;
}

p, ul {
  font-family: 'Josefin Sans', sans-serif;
  color: #494949;
}

.interests p {
  color: #FD5E0F;
  font-weight: 24px;
  border: 1px solid #999999;
  padding: 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #999999;
}
/*IMAGES*/
#picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.icon {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

/*BOXES*/
.container {
  background: white;
  padding: 30px;
  box-shadow: 2px 2px 3px lightgrey;
  width: 500px;
  margin: 15px auto;
  text-align: center;
  border-radius: 5px;
}

.interests {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.links li {
  list-style: none;
  display: inline;
  font-size: 30px;
  letter-spacing: 15px;
}

.links a {
  color: #494949;
  text-decoration: none;
}

.links i:hover {
  color: #FD5E0F;
}

/*RESPONSIVE*/
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
